<h2><%= @article.title %></h2>
<p><%= @article.body %></p>
<p>
  <%= link_to "edit", edit_article_path(@article) %> |
  <%= link_to "delete", @article, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
